---
import { DutchTable } from '../components/DutchTable';
---

<html lang="en">
  <head>
    <title>Dutch Bets</title>
  </head>
  <body>
    <main style="padding: 2rem;">
      
      
  
      <DutchTable client:load />
     
    </main>
  </body>
</html>


