---
import { DutchTableTanStack } from '../components/DutchTableTanStack';
---

<html lang="en">
  <head>
    <title>Dutch Bets</title>
  </head>
  <body>
    <main style="padding: 2rem;">
  
      <DutchTableTanStack client:load />
    </main>
  </body>
</html>


